<section class="header">
  <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
          <a class="navbar-brand" href=""><img src="../../../../assets/icons/indiabazar_logo.svg" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <div id="toggle-hero">
                  <input type="checkbox">
                  <span></span>
              </div>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link hr" href="">
                          <img src="../../../../assets/icons/supervisor_account.svg" alt="" class="firstIcon black">
                          <img src="../../../../assets/icons/supervisor_account_active.svg" alt="" class="firstIcon green">
                          Profile
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link dashboard" href="">
                          <img src="../../../../assets/icons/dashboard.svg" alt="" class="firstIcon black">
                          <img src="../../../../assets/icons/dashboard-active.svg" alt="" class="firstIcon green">
                          Dashboard
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link hr" href="">
                          <img src="../../../../assets/icons/supervisor_account.svg" alt="" class="firstIcon black">
                          <img src="../../../../assets/icons/supervisor_account_active.svg" alt="" class="firstIcon green">
                          HR
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link store" href="">
                          <img src="../../../../assets/icons/store.svg" alt="" class="firstIcon black">
                          <img src="../../../../assets/icons/store_active.svg" alt="" class="firstIcon green">
                          Store
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link manage" href="">
                          <img src="../../../../assets/icons/announcement.svg" alt="" class="firstIcon black">
                          <img src="../../../../assets/icons/announcement_active.svg" alt="" class="firstIcon green">
                          Announcement
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link manage" href="">
                          <img src="../../../../assets/icons/settings.svg" alt="" class="firstIcon black">
                          <img src="../../../../assets/icons/settings_active.svg" alt="" class="firstIcon green">
                          Manage
                      </a>
                  </li>
              </ul>
              <div class="bdayCake">
                  <a href=""><img src="../../../../assets/images/birthday-cake-emoji.png" class="cake" height="44" width="44" alt=""><span class="badge badge-pill badge-danger"></span></a>
              </div>
              <div class="notification">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#notificationModal" ><img src="../../../../assets/icons/notification_icon.svg" alt=""><span class="badge badge-pill badge-danger" id="Notification"></span></button>
              </div>
              <div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"  aria-expanded="true">
                      <div class="profile-img">
                          <img class="headerProPic" style="border-radius: 15%;" height="44" width="44" src="../../../../assets/icons/userprofile.svg">
                      </div>
                      TechRover Developer
                  </button>
                  <p class="uppercase">Super Admin</p>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href=""><img src="../../../../assets/icons/edit.svg" class="profileIcons" alt=""> Edit Profile</a>
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#changePassword"><img src="../../../../assets/icons/change_password.svg" class="profileIcons" alt=""> Change Password</a>
                      <a class="dropdown-item" href=""><img src="../../../../assets/icons/logout.svg" class="logoutIcons" alt=""> Log Out</a>
                  </div>
              </div>
          </div>
      </div>
  </nav>
</section>

<div class="notification-modal">
  <div class="modal right fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
      <div class="modal-dialog" role="document">
          <div class="modal-content">

              <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel2">Notification</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="markAll">
                      <button type="button" class="btn" id="allnotificationUnread">Mark all as read</button>
                  </div>
                  <div class="notification-details notificationUnread" data-id="" style="cursor:pointer;">
                      <div class="row align-items-center">
                          <div class="col-6">
                              <h4>YASH NASIT</h4>
                          </div>
                          <div class="col-6 text-right">
                              <h6>23 Jan, 2024</h6>
                          </div>
                      </div>
                      <p>YASH NASIT is transferred to Carrollton from Eldorado</p>
                  </div>
                  <div class="notification-details">
                      <div class="row align-items-center">
                          <div class="col-6">
                              <h4>YASH NASIT</h4>
                          </div>
                          <div class="col-6 text-right">
                              <h6>23 Jan, 2024</h6>
                          </div>
                      </div>
                      <p>YASH NASIT is transferred to Carrollton from Eldorado</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- <section class="header">
  <input type="hidden" id="loggedInUid" value="{{ auth()->user()->empId }}">
  <nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand" href="{{url('/')}}"><img src="{{ asset('assets/icons/indiabazar_logo.svg') }}" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

          <div id="toggle-hero">
              <input type="checkbox">
              <span></span>
          </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
                  @if(tabsRightsCheck("profile-page"))
                  <li class="nav-item">
                      <a class="nav-link hr {{ (getActiveTabEmp() == 'profile') ? 'active' : '' }}" href="{{url('employee-profile')}}">
                          <img src="{{ asset('assets/icons/supervisor_account.svg') }}" alt="" class="firstIcon black">
                          <img src="{{ asset('assets/icons/supervisor_account_active.svg') }}" alt="" class="firstIcon green">
                          Profile
                      </a>
                  </li>
                  @endif
                  @if(tabsRightsCheck("dashboard"))
                      <li class="nav-item">
                          <a class="nav-link dashboard {{ (getActiveTab() == 'dashboard') ? 'active' : '' }}" href="{{url('dashboard')}}">
                              <img src="{{ asset('assets/icons/dashboard.svg') }}" alt="" class="firstIcon black">
                              <img src="{{ asset('assets/icons/dashboard-active.svg') }}" alt="" class="firstIcon green">
                              Dashboard
                          </a>
                      </li>
                  @endif
                  @if(tabsRightsCheck("hr-tab"))
                  <li class="nav-item">
                      <a class="nav-link hr {{ (getActiveTab() == 'hr') ? 'active' : '' }}" href="{{url('hr')}}">
                          <img src="{{ asset('assets/icons/supervisor_account.svg') }}" alt="" class="firstIcon black">
                          <img src="{{ asset('assets/icons/supervisor_account_active.svg') }}" alt="" class="firstIcon green">
                          HR
                      </a>
                  </li>
                  @endif
                  @if(tabsRightsCheck("store-tab"))
                  <li class="nav-item">
                      <a class="nav-link store {{ (getActiveTab() == 'store') ? 'active' : '' }}" href="{{url('store')}}">
                          <img src="{{ asset('assets/icons/store.svg') }}" alt="" class="firstIcon black">
                          <img src="{{ asset('assets/icons/store_active.svg') }}" alt="" class="firstIcon green">
                          Store
                      </a>
                  </li>
                  @endif
                  @if(tabsRightsCheck("announcement-tab"))
                  <li class="nav-item">
                      <a class="nav-link manage {{ (getActiveTab() == 'announcement') ? 'active' : '' }}" href="{{url('announcement')}}">
                          <img src="{{ asset('assets/icons/announcement.svg') }}" alt="" class="firstIcon black">
                          <img src="{{ asset('assets/icons/announcement_active.svg') }}" alt="" class="firstIcon green">
                          Announcement
                      </a>
                  </li>
                  @endif
                  @if(!empty(defaultManageTab()) && tabsRightsCheck("manage-tab"))
                  <li class="nav-item">
                      <a class="nav-link manage {{ (getActiveTab() == 'manage') ? 'active' : '' }}" href="{{url('/',defaultManageTab())}}">
                          <img src="{{ asset('assets/icons/settings.svg') }}" alt="" class="firstIcon black">
                          <img src="{{ asset('assets/icons/settings_active.svg') }}" alt="" class="firstIcon green">
                          Manage
                      </a>
                  </li>
                  @endif

          </ul>
          @if (App::environment('test'))
              <span class="bg-warning" style="border-radius: 1rem 0 0 1rem; height: 30px;"><p class="pl-3 text-center pr-3 pt-1" style="color:white; display: inline-block;">Dev Env.</p></span>
          @endif

          @php
              $count = getNotificationCount(getAuthUserId());
              $birthdayCount = getBirthdayListV2()['total_birthday'];
          @endphp
          @if(tabsRightsCheck("today-birthday"))
          <div class="bdayCake">
              <a href="{{url('/today-birthday-list')}}"><img src="{{ asset('assets/images/birthday-cake-emoji.png') }}" class="cake" alt="">@if($birthdayCount != 0)<span class="badge badge-pill badge-danger">{{$birthdayCount}}</span> @endif</a>
          </div>
          @endif
          @if(tabsRightsCheck("notification"))
          <div class="notification">
              <button type="button" class="btn" data-toggle="modal" data-target="#notificationModal" ><img src="{{ asset('assets/icons/notification_icon.svg') }}" alt=""> @if($count != 0)<span class="badge badge-pill badge-danger" id="Notification">{{$count}}</span> @endif</button>
          </div>
          @endif
          <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <div class="profile-img">
                          @if(Auth::user()->profileImg != null && Auth::user()->profileImg != "" )
                              <img class="headerProPic" style="border-radius: 15%;" height="44" width="44" src="{{ S3FileTempUrl('profile/'.Auth::user()->profileImg) }}">
                          @else
                              <img class="headerProPic" style="border-radius: 15%;" height="44" width="44" src="{{ asset('assets/icons/userprofile.svg') }}">
                          @endif
                      </div>
                      {{ authData()->empName }}
              </button>
              <p class="uppercase">{{ Session::get('roleName'); }}</p>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{route('edit-profile')}}"><img src="{{ asset('assets/icons/edit.svg') }}" class="profileIcons" alt=""> Edit Profile</a>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#changePassword" onclick="return $('#changePassword').modal('toggle')"><img src="{{ asset('assets/icons/change_password.svg') }}" class="profileIcons" alt=""> Change Password</a>
                  <a class="dropdown-item" href="{{ route('logout') }}"><img src="{{ asset('assets/icons/logout.svg') }}" class="logoutIcons" alt=""> Log Out</a>
              </div>
          </div>
      </div>
  </nav>

</section> -->
