<div class="login-flow-main">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo-part">
                        <img src="../../../../../../assets/icons/indiabazar_logo.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="login-part">
        <div class="form-data login">
            <div class="container-md">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="login-data">
                                <h4>Forgot Password</h4>
                                <p>
                                    Please enter your login email address / Employee ID <br>to reset your password.
                                </p>
                                <div class="form-part">
                                    <form method="POST" action="#" id="forgot-password">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Email Address/Employee ID</mat-label>
                                            <input matInput placeholder="" required>
                                            <mat-icon matTextPrefix><img class="icon-first" src="../../../../../assets/icons/email.svg" /></mat-icon>                                            
                                            <mat-error></mat-error>
                                        </mat-form-field>
                                        <div class="submit-btn">
                                            <button type="button" class="login-submit" mat-raised-button>Send Verification Code</button>
                                            <button type="button" class="receive-otp disable" id="already_otp_btn" mat-raised-button>Already Received OTP?</button>
                                        </div>
                                    </form>
                                    <div class="back-link">
                                        <a href="">
                                            <img src="../../../../../../assets/icons/back-arrow.svg" /> Back to <span>Login</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>