<div class="login-flow-main">
  <header>
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="logo-part">
                      <img src="../../../../../../assets/icons/indiabazar_logo.svg" alt="">
                  </div>
              </div>
          </div>
      </div>
  </header>

  <section class="login-part">
      <div class="form-data login">
          <div class="container-md">
              <div class="row">
                  <div class="col-md-12">
                      <div class="card">
                          <div class="login-data">
                              <h4>Forgot Password</h4>
                              <p>
                                  Please enter your login email address / Employee ID <br>to reset your password.
                              </p>
                              <div class="form-part">
                                  <form method="POST" action="#" id="forgot-password">
                                      <div class="form-group">
                                          <div class="input-icon">
                                              <input type="text" name="email" id="email" placeholder="Email Address / Employee ID" class="form-control red"  value=""  />
                                              <img class="icon-first" src="../../../../../../assets/icons/email.svg" />
                                          </div>

                                          <p class="error"></p>
                                          <p class="error">
                                              <span></span>
                                          </p>
                                      </div>
                                      <div class="submit-btn">
                                          <button type="button" class="login-submit" id="send_otp_btn" disabled>Send Verification Code</button>
                                          <button type="button" class="receive-otp disable" id="already_otp_btn" disabled>Already Received OTP?</button>
                                      </div>
                                  </form>
                                  <div class="back-link">
                                      <a href="">
                                          <img src="../../../../../../assets/icons/back-arrow.svg" /> Back to <span>Login</span>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>
